#portfolio {
}
.portfolio_container {
  display: grid;
  margin: 5rem auto;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.5rem;
}
.container h2 {
  margin-top: 20px;
  font-size: 34px;
  font-weight: 700;
  letter-spacing: 3.5px;
}
.portfolio_item {
  background: var(--color-bg-variant);
  padding: 1.2rem;
  border-radius: 1rem;
  border: 1px solid transparent;
  transition: var(--transition);
  cursor: pointer;
}
.portfolio_info {
  display: flex;
  flex-direction: column;

  line-height: 1.6em;
  letter-spacing: 1.5px;
  padding: 2px;
}
.portfolio_info h3 {
  text-transform: uppercase;
}
.portfolio_image {
  padding: 20px;
  min-height: 300px;
  /* background-color: steelblue; */
}

.portfolio_links {
  display: flex;
  margin: 10px auto;
  gap: 1rem;
}
.portfolio_item:hover {
  border-color: var(--color-primary-variant) !important;
  background: transparent;
}
.portfolio_item h3 {
  color: white;
}
.spacing {
  display: flex;
  gap: 5px;
}
/* .social-media-project {
  background: var(--color-primary-social);
  color: black;
} */
@media screen and (max-width: 1024px) {
  .portfolio_container {
    grid-template-columns: 1fr 1fr;
    gap: 1.2rem;
  }
}
@media screen and (max-width: 600px) {
  .portfolio_container {
    grid-template-columns: 1fr;
  }
  .portfolio_item {
    padding: 1.2rem 0.8rem;
    margin: 0 auto;
  }
}
