.options {
    /* width: 20%;
    padding: 5px 10px;
    color: black;
    text-align: left;
    display: flex;
    justify-content: space-between;
  
    background: white;
    cursor: pointer; */
    z-index: 91;
    border-radius:1px solid crimson;
    background-color:blue;
    
  }
  

  