.PostPage {
  position: absolute;
  border: 1px solid orange;
  /* Add the blur effect */
  margin-top: -20px;
  width: 100vw;

  height: 100%;

  backdrop-filter: blur(15px);
  color: black;
  z-index: 5;
}
.PostCard {
  width: 100%;

  max-width: 1600px;
  margin: 30px auto;

  display: grid;
  grid-template-columns: 1fr 10fr 1fr;
  backdrop-filter: blur(15px);
}
.PostCard > div {
}
.PostCard-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}
.PostCard-Post {
  display: grid;
  grid-template-columns: 2.5fr 1fr;
  background-color: #154c7988;
  padding: 0;
  color: white;
}

.PostCard-Post-details {
  display: grid;
  grid-template-rows: 1fr 1fr 5fr 1fr 1fr;
  padding: 0 5px;
  height: 600px;
}
.PostCard-Post-details-poster {
  padding: 5px;
}
.PostCard-Post-details-post-text {
  padding: 5px 10px 10px;
  letter-spacing: 0.05em;
  line-height: 1.4em;
  font-size: 14px;
}
.PostCard-Post-details-post-comments h5 {
  color: navy;
  text-align: center;
}
.PostCard-Post-details-post-comments h3 {
  color: white;
  font-weight: 500;
}
.PostCard-Post-details-post-comments {
  overflow-y: scroll;
}
.PostCard-Post-comment {
  padding: 5px 2px 10px;
  display: grid;
  grid-template-columns: 1fr 5fr;
}
.PostCard-Post-comment img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid var(--color-secondary-social);
}

.PostCard-Post-comment-info {
  display: flex;
  flex-direction: column;
  gap: 10px;

  background-color: var(--color-primary-social);
  padding: 5px;
  border-radius: 5px;
  color: aliceblue;
}
.PostCard-Post-comment-interactions {
  display: flex;
  justify-content: space-around;
}

.PostCard-Post-details-post-actions {
  display: flex;
  justify-content: space-around;
}
.PostCard-arrow {
  cursor: pointer;
  font-size: 35px;
}
.PostCard-Post-image {
  margin: 10px;
}
@media screen and (max-width: 968px) {
  .PostCard-Post {
    grid-template-columns: 1fr;
  }
}
