.profile-page-main {
  border: 1px solid orange;
  background: green;
  position: absolute;
  width: 50vw;
  min-width: 300px;
  height: 100vh;
  padding-top: 80px;
  top: 0vh;
  transform: translateX(-50%);
  left: 50%;
  color: black;
}
