body {
  color: white;
}
.nav {
  border: 1px solid blue;
  position: relative;
}

.content {
  position: absolute;
  width: 45vw;
  min-width: 300px;
  height: 100vh;
  padding-top: 80px;
  top: 0vh;

  transform: translateX(-50%);
  left: 50%;
  color: black;
}

@media screen and (max-width: 1224px) {
  .nav-left {
    left: 0;
    min-width: 185px;
  }
  .content {
    border: 5px solid coral;
    width: 78vw;
    left: 60vw;
  }
}

@media screen and (max-width: 600px) {
  .nav-left,
  .nav-right {
    display: none;
  }
  .content {
    width: 100vw;
    left: 50vw;
  }
}
