.postFeed-post {
  border: 1px solid rgba(128, 128, 128, 0.39);
  display: flex;
  flex-direction: column;
  padding: 25px 20px;
  gap: 15px;
  margin: 20px 0;
  width: 100%;
  background: var(--color-light);
  cursor: pointer;
}
.postFeed-post:hover {
  background-color: rgba(128, 128, 128, 0.106);
}
.postFeed-post-info {
  display: flex;
  gap: 2rem;
  align-items: center;
}
.postFeed-post-info img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  cursor: pointer;
}
.postFeed-post-image :hover {
  opacity: 0.96;
}
.postFeed-post-info-stamp {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.postFeed-post-info-stamp h3 {
  color: var(--color-secondary-social);
  font-weight: bold;
}
.postFeed-post-image {
  width: 100%;
  max-width: 800px;
  display: flex;
  cursor: pointer;
}
.postFeed-post-stats {
  display: flex;
  justify-content: flex-start;
  gap: 4rem;
  padding: 15px 0;
}
.postFeed-post-stats > div {
  display: flex;
  flex-direction: column;
  gap: 3px;
}
.postFeed-post-stats small {
  margin-left: 1rem;
}
.postFeed-post-stats i {
  font-size: 20px;
  cursor: pointer;
}
.postFeed-post-text {
  color: var(--color-secondary-social);
  letter-spacing: 1px;
  cursor: pointer;
}
