.friendsSearch {
  border: 1px solid crimson;
}
.content.friendsSearch {
  top: 80px;
  width: 40vw;
  left: calc(50vw + 5vw);
}

@media screen and (max-width: 1224px) {
  .content.friendsSearch {
    transform: translateX(0);
    width: 58vw;
    left: 35vw;
  }
}
@media screen and (max-width: 768px) {
  .content.friendsSearch {
    width: calc(100vw - 6px);

    left: 3px;
  }
}
