.MainGrid{
display:grid;
grid-template-columns:1fr 4fr;
margin: 20px auto;
border: 4px solid orange;
width: fit-content;
grid-gap:20px

}

.ConnectMain {
  background-color: white;
  border: 3px solid crimson;
  width: 40vw;
  min-width: 450px;


  transition: 1s ease-in-out;
}

.ConnectMain img {
  height: 30px;
  width: 30px;
  border-radius: 50%;
}

.UpperConnect {
  background-color: var(--color-primary-social);
  display: grid;
  grid-template-columns: 2fr 3fr;
  width: 100%;
}
.LeftUC {
  display: grid;
  text-align: left;
}
.LUCtitle {
  display: flex;
  align-items: center;
  justify-content: center;
}
.UCSearch {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
  margin: 0 5px;
  margin-left: 10px;
}
.UCSearch input {
  min-width: 10rem;
  width: 100%;
  height: 3rem;
  border: 2px solid rgba(128, 128, 128, 0.568);
  padding: 3px 10px;
  border-radius: 5px;
  font-size: 14px;
}
.RightUC {
  min-width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.UCList {
  margin: 10px auto;
}
.UCList ul {
  font-size: 16px;
  max-width: 70%;
  gap: 25px;
  list-style: none;
  display: flex;
  justify-content: space-evenly;

  align-items: center;
}
.UCList li {
  cursor: pointer;
}

.LowerConnect {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  margin: 40px auto;
  padding: 0 10px;
}
.CProfile {
  /* border: 1px solid rgba(128, 128, 128, 0.466);
  border-radius: 10px; */
  display: flex;

  justify-content: space-evenly;
  align-items: center;
  height: 300px;
}
.PSelected {
  border: 1px solid #2038649f;
  border-radius: 10px;
}

.CProfile img {
  width: 90px;
  height: 90px;
}
.tag {
  border-radius: 5px;
  padding: 5px 2px;
  cursor: pointer;
}
.UCSelected {
  border: 1px solid grey;
  background: #203864;
  color: white;
  border-radius: 5px;
  padding: 5px;
}
.SB-Info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* Filter bar */
.filterBar{
  height:900px;
  width:100%;
  background:#203864;
}




@media only screen and (max-width: 768px) {
  .MainContainer {
    grid-template-columns: 1fr;
  }

  .LSidebar,
  .SideBar {
    display: none;
  }
  .UpperConnect {
    display: grid;
    justify-content: center;
  }
  .RightUC {
    min-width: 100px;
    justify-content: center;
    font-size: 14px;
  }
  .UCList ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 3px;
  }
  .UpperConnect {
    grid-template-columns: 1fr;
  }
  .LowerConnect {
    grid-template-columns: 1fr 1fr;
  }
}
